<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="30010">
        <setting id="hls" type="bool" label="30020" default="false"/>
        <setting id="netv" type="bool" label="30002" default="true"/>
        <setting id="netv2" type="bool" label="30018" default="true"/>
        <setting id="eugo24" type="bool" label="30022" default="true"/>
        <setting id="cannali" type="bool" label="30003" default="true"/>
        <setting id="youtube" type="bool" label="30024" default="true"/>
        <setting id="life" type="bool" label="30004" default="true"/>
        <setting id="melodia" type="bool" label="30005" default="true"/>
        <setting id="voice" type="bool" label="30023" default="true"/>
    </category>
    <category label="30029">
        <setting type="lsep" label="30011"/>
        <setting label="30012" type="action" action="RunPlugin(plugin://$ID/?action=setup_iptv)"/>
        <setting type="lsep" label="30027"/>
        <setting label="30028" type="action" action="RunPlugin(plugin://$ID/?action=keymap_edit)"/>
    </category>
</settings>