<settings>
    <category label="Settings">
        <setting id="path" type="folder" label="Download Folder"/>
        <setting id="ac" type="number" label="Activation Code"/>
        <setting id="manual_download" type="action" label="Manual Download" action="XBMC.RunScript(service.rytecepgdownloader, manual_download)"/>
    </category>
    <category label="XMLTV Rytec">
        <setting id="xmltv_rytec_1" type="select" label="XMLTV Rytec 1" values="None|Rytec Benelux XMLTV|Rytec Bulgaria XMLTV|Rytec Denmark XMLTV|Rytec Erotic XMLTV|Rytec Finland XMLTV|Rytec France XMLTV|Rytec Germany/Austria/Swiss XMLTV|Rytec Greece XMLTV|Rytec Greece in English XMLTV|Rytec Hungary XMLTV|Rytec IPTV XMLTV|Rytec Israel XMLTV|Rytec Italy XMLTV|Rytec Norway XMLTV|Rytec Middle East XMLTV|Rytec Poland XMLTV|Rytec Portugal XMLTV|Rytec Romania XMLTV|Rytec Serbia/Croatia/Montenegro XMLTV|Rytec Slovak/Czech XMLTV|Rytec Slovenia XMLTV|Rytec Spain XMLTV|Rytec Sweden XMLTV|Rytec Turkey XMLTV|Rytec UK XMLTV|Rytec Virgin UK XMLTV|Rytec Csat Africa XMLTV|Rytec Csat Reunion XMLTV|Rytec Csat Carabean XMLTV|Rytec New Caledonia XMLTV|Linuxsat ExUSSR XMLTV|Epg-Sat.de (Russian)/ by Taljaka (XML)|Epg-Sat.de (Russian)/ SAT/IPTV small (EPG.DAT)|Epg-Sat.de (Russian)/ SAT/IPTV big (EPG.DAT)" default="None"/>
        <setting id="xmltv_rytec_2" type="select" label="XMLTV Rytec 2" values="None|Rytec Benelux XMLTV|Rytec Bulgaria XMLTV|Rytec Denmark XMLTV|Rytec Erotic XMLTV|Rytec Finland XMLTV|Rytec France XMLTV|Rytec Germany/Austria/Swiss XMLTV|Rytec Greece XMLTV|Rytec Greece in English XMLTV|Rytec Hungary XMLTV|Rytec IPTV XMLTV|Rytec Israel XMLTV|Rytec Italy XMLTV|Rytec Norway XMLTV|Rytec Middle East XMLTV|Rytec Poland XMLTV|Rytec Portugal XMLTV|Rytec Romania XMLTV|Rytec Serbia/Croatia/Montenegro XMLTV|Rytec Slovak/Czech XMLTV|Rytec Slovenia XMLTV|Rytec Spain XMLTV|Rytec Sweden XMLTV|Rytec Turkey XMLTV|Rytec UK XMLTV|Rytec Virgin UK XMLTV|Rytec Csat Africa XMLTV|Rytec Csat Reunion XMLTV|Rytec Csat Carabean XMLTV|Rytec New Caledonia XMLTV|Linuxsat ExUSSR XMLTV|Epg-Sat.de (Russian)/ by Taljaka (XML)|Epg-Sat.de (Russian)/ SAT/IPTV small (EPG.DAT)|Epg-Sat.de (Russian)/ SAT/IPTV big (EPG.DAT)" default="None"/>
        <setting id="xmltv_rytec_3" type="select" label="XMLTV Rytec 3" values="None|Rytec Benelux XMLTV|Rytec Bulgaria XMLTV|Rytec Denmark XMLTV|Rytec Erotic XMLTV|Rytec Finland XMLTV|Rytec France XMLTV|Rytec Germany/Austria/Swiss XMLTV|Rytec Greece XMLTV|Rytec Greece in English XMLTV|Rytec Hungary XMLTV|Rytec IPTV XMLTV|Rytec Israel XMLTV|Rytec Italy XMLTV|Rytec Norway XMLTV|Rytec Middle East XMLTV|Rytec Poland XMLTV|Rytec Portugal XMLTV|Rytec Romania XMLTV|Rytec Serbia/Croatia/Montenegro XMLTV|Rytec Slovak/Czech XMLTV|Rytec Slovenia XMLTV|Rytec Spain XMLTV|Rytec Sweden XMLTV|Rytec Turkey XMLTV|Rytec UK XMLTV|Rytec Virgin UK XMLTV|Rytec Csat Africa XMLTV|Rytec Csat Reunion XMLTV|Rytec Csat Carabean XMLTV|Rytec New Caledonia XMLTV|Linuxsat ExUSSR XMLTV|Epg-Sat.de (Russian)/ by Taljaka (XML)|Epg-Sat.de (Russian)/ SAT/IPTV small (EPG.DAT)|Epg-Sat.de (Russian)/ SAT/IPTV big (EPG.DAT)" default="None"/>
        <setting id="xmltv_rytec_4" type="select" label="XMLTV Rytec 4" values="None|Rytec Benelux XMLTV|Rytec Bulgaria XMLTV|Rytec Denmark XMLTV|Rytec Erotic XMLTV|Rytec Finland XMLTV|Rytec France XMLTV|Rytec Germany/Austria/Swiss XMLTV|Rytec Greece XMLTV|Rytec Greece in English XMLTV|Rytec Hungary XMLTV|Rytec IPTV XMLTV|Rytec Israel XMLTV|Rytec Italy XMLTV|Rytec Norway XMLTV|Rytec Middle East XMLTV|Rytec Poland XMLTV|Rytec Portugal XMLTV|Rytec Romania XMLTV|Rytec Serbia/Croatia/Montenegro XMLTV|Rytec Slovak/Czech XMLTV|Rytec Slovenia XMLTV|Rytec Spain XMLTV|Rytec Sweden XMLTV|Rytec Turkey XMLTV|Rytec UK XMLTV|Rytec Virgin UK XMLTV|Rytec Csat Africa XMLTV|Rytec Csat Reunion XMLTV|Rytec Csat Carabean XMLTV|Rytec New Caledonia XMLTV|Linuxsat ExUSSR XMLTV|Epg-Sat.de (Russian)/ by Taljaka (XML)|Epg-Sat.de (Russian)/ SAT/IPTV small (EPG.DAT)|Epg-Sat.de (Russian)/ SAT/IPTV big (EPG.DAT)" default="None"/>
        <setting id="xmltv_rytec_5" type="select" label="XMLTV Rytec 5" values="None|Rytec Benelux XMLTV|Rytec Bulgaria XMLTV|Rytec Denmark XMLTV|Rytec Erotic XMLTV|Rytec Finland XMLTV|Rytec France XMLTV|Rytec Germany/Austria/Swiss XMLTV|Rytec Greece XMLTV|Rytec Greece in English XMLTV|Rytec Hungary XMLTV|Rytec IPTV XMLTV|Rytec Israel XMLTV|Rytec Italy XMLTV|Rytec Norway XMLTV|Rytec Middle East XMLTV|Rytec Poland XMLTV|Rytec Portugal XMLTV|Rytec Romania XMLTV|Rytec Serbia/Croatia/Montenegro XMLTV|Rytec Slovak/Czech XMLTV|Rytec Slovenia XMLTV|Rytec Spain XMLTV|Rytec Sweden XMLTV|Rytec Turkey XMLTV|Rytec UK XMLTV|Rytec Virgin UK XMLTV|Rytec Csat Africa XMLTV|Rytec Csat Reunion XMLTV|Rytec Csat Carabean XMLTV|Rytec New Caledonia XMLTV|Linuxsat ExUSSR XMLTV|Epg-Sat.de (Russian)/ by Taljaka (XML)|Epg-Sat.de (Russian)/ SAT/IPTV small (EPG.DAT)|Epg-Sat.de (Russian)/ SAT/IPTV big (EPG.DAT)" default="None"/>
      </category>
    <category label="XMLTV URL">
        <setting id="xmltv_url_1" type="text" label="XMLTV URL 1" default="None"/>
        <setting id="xmltv_url_2" type="text" label="XMLTV URL 2" default="None"/>
        <setting id="xmltv_url_3" type="text" label="XMLTV URL 3" default="None"/>
        <setting id="xmltv_url_4" type="text" label="XMLTV URL 4" default="None"/>
        <setting id="xmltv_url_5" type="text" label="XMLTV URL 5" default="None"/>
      </category>
</settings>
